<div class="vac-comments-container">
  <div class="vac-comments-wrap">
    {{#each commentsHTML as |comment|}}
    {{{comment}}}
    {{/each}}
    <div class="vac-reply-btn vac-button">ADD REPLY</div>
    <div class="vac-add-new-shapebox"></div>
  </div>
  <div class="vac-comments-control-bar">
    <div class="vac-range"><b>@</b> {{rangeStr}}</div>
    <div class="vac-control-buttons">
      <a class="vac-delete-annotation">DELETE</a> | <a class="vac-close-comment-list">CLOSE</a>
    </div>
  </div>
</div>
