<div class="vac-video-write-new-wrap vac-new-comment">
  <div class="vac-video-write-new vac-is-comment">
    <div class="vac-comment-showbox" style="width:{{width}}px;top:{{top}}px;right:{{right}}px">
      <textarea placeholder="Enter comment..."></textarea>
      <div>
        <button class="vac-button">SAVE</button>
        <a>Cancel</a>
      </div>
    </div>
  </div>
