body{
	text-align:center;
	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/topography.png");
}
body *{
	outline: none;
}
.video-js{
	margin: 30px auto;
	box-shadow: 0px 0px 50px 25px rgba(255,255,255,.9);
	border: 1px solid #e2e2e2;
}

#test-control-panel{
	margin: 50px auto;
	width: 50%;
	height: auto;
	background-color: #fff;
	border: 2px solid #0097b1;
	display: flex;
  	flex-wrap: wrap;
}

.control-section {
	width: 26%;
    border: 1px #0097b1 solid;
    padding: 2%;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

p {
	font-size: 0.9em;
}

.event-type {
	font-size: 1.1em;
}

#mocha {
	text-align: left;
	width: 50%;
	float: left;
}
#mocha-video-container {
	float: left;
	width: 40%;
	margin-top: 50px;
	position: fixed;
	right: 6%;
}

.hidden {
	display:none;
}
