$blue: #00A6C2;
$yellow: #eed428;
$orange: #ee9828;
$white: #FFF;
$black: #000;
$red: #FF0000;

$med_gray: #dbdcdc;
$dark_gray: #383838;

.video-js{

	&.vac-active{
		.vjs-mouse-display{
			display: none !important;
		}
		.vac-marker-owrap{
			display: block;
		}
		.vjs-control-bar{
			z-index: 2;
		}
		.vac-player-btn{
			span.vjs-icon-placeholder{
				background-color: $blue !important;
			}
		}
	}

	&.vac-disable-play{
		.vac-marker, .vjs-big-play-button{
			display: none !important;
		}
		.vjs-play-control, .vjs-play-progress{
			visibility: hidden !important;
		}
	}

	.vac-button {
		transition: all .2s ease-in-out;
		margin:10px;
		line-height: 27px;
		font-size: 13px;
		padding:0;
		width: calc(100% - 20px);
		text-align: center;
		border-radius: 2px;
		background: $blue;
		color: white;
		display: block;
		cursor: pointer;
		&:hover{
			background-color: lighten($blue, 15%);
		}
	}

	// Add new annotation - red-tinted cover over vide
	.vac-video-cover {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($red,.15);
		.vac-video-cover-canvas{
			width: 100%;
			height: 100%;
			position: relative;
		}
	}

	// Add new annotation - wrap + box/text input for last step
	.vac-video-write-new-wrap{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 11;
		background-color: rgba($black, .7);
		.vac-video-write-new {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
  			justify-content: center;
  			& > div{
  				width: 80%;
  				max-width: 400px;
  				border-radius: 2px;
  				background: rgba($white, .85);
  				padding: 20px;
  				h5{
  					margin: 0;
  					padding: 0;
  					font-size: 15px;
  					color: $black;
  					font-weight: normal;
  				}
  				& > div{
  					border-radius: 1px;
  					background-color: white;
  					margin-top: 20px;
  					width: 100%;
  					border-bottom: 2px solid $orange;
  					textarea{
  						border: none;
  						font-size: 13px;
  						color: $dark_gray;
  						line-height: 16px;
  						padding: 8px;
  						box-sizing: border-box;
  						min-height: 110px;
  						width: 100%;
  						resize: none;
  					}
  					& > div{
  						padding: 10px;
  						box-sizing: content-box;
  						height: 27px;
	  					button{
	  						float: right;
	  						width: auto;
	  						padding: 0 40px;
	  						margin: 0;
	  					}
	  					a{
	  						float:right;
	  						font-size: 12px;
	  						text-decoration: underline;
	  						line-height: 27px;
	  						display: inline-block;
	  						color: $dark_gray;
	  						cursor: pointer;
	  						margin-right: 20px;
	  						&:hover{
	  							color: $red;
	  						}
	  					}
	  				}
  				}
  			}
		}
	}

	.vac-shape{
		position: absolute;
		z-index: 1;
		background-color: rgba($orange, 0.65);
		border: 2px dotted $orange;
	}

	.vac-controls, .vac-add-controls{
		z-index: 3;
		position: absolute;
		border-radius: 2px;
		overflow: hidden;
		background-color: rgba($black,.4);
		top: 4px;
		left: 4px;
		padding: 10px 0 0 0;
		font-size: 14px;
		color: white;
		width: 150px;
		i{
			color: $med_gray;
			font-size: 11px;
			font-style: normal;
			display: block;
			padding: 8px 0 0;
		}
		button{
			transition: all .2s ease-in-out;
			margin:10px;
			line-height: 27px;
			font-size: 13px;
			padding:0;
			width: calc(100% - 20px);
			text-align: center;
			border-radius: 2px;
			background: $blue;
			color: white;
			display: block;
			cursor: pointer;
			&:hover{
				background-color: lighten($blue, 15%);
			}
		}
		&.vac-add-controls{
			button{
				background-color: $yellow;
				color: $dark_gray;
				&:hover{
					background-color: lighten($yellow, 15%);
				}
			}
			a{
				margin: 3px auto 8px;
				text-transform: uppercase;
				display: inline-block;
				color: white;
				cursor: pointer;
				text-decoration: underline;
				font-size: 10px;
				&:hover{
					color: $red;
				}
			}
		}
		.nav{
			margin-top: 8px;
			width: 100%;
			display:flex;
			flex-direction: row;
			div{
				flex: 1;
				background-color: rgba($black,.8);
				text-align: center;
				line-height: 22px;
				color: $yellow;
				transition: all .2s ease-in-out;
				cursor: pointer;
				font-size: 12px;
				&.hide{
					visibility: hidden;
				}
				&:hover{
					background-color: $yellow;
					color: $black;
				}
				&.prev{
					margin-right: 1px;
				}
			}
		}
	}

	.vac-player-btn{
		margin-right:8px;
		span.vjs-icon-placeholder{
			width: 100%;
			height: 100%;
			display: block;
			-webkit-mask: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yMS45OSA0YzAtMS4xLS44OS0yLTEuOTktMkg0Yy0xLjEgMC0yIC45LTIgMnYxMmMwIDEuMS45IDIgMiAyaDE0bDQgNC0uMDEtMTh6TTE4IDE0SDZ2LTJoMTJ2MnptMC0zSDZWOWgxMnYyem0wLTNINlY2aDEydjJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==") center center no-repeat;
			background-color: $white;
			transition: background-color .2s ease-in-out;
		}
		&:hover{
			span.vjs-icon-placeholder{
				background-color: lighten($blue, 30%);
			}
		}
		cursor: pointer;
		b{
			position: absolute;
			display: inline-block;
			top:3px;
			right:3px;
			color: $white;
			height: 14px;
			line-height: 14px;
			min-width: 14px;
			text-align: center;
			border-radius: 9px;
			font-size: 10px;
			font-weight: normal;
			background-color: $red;
		}
	}

	.vac-marker-owrap{
		display:none;
		z-index: 10;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		.vac-marker-wrap{
			margin: 0 10px;
			height: 100%;
		    position: relative;
		    flex: auto;

			.vac-marker, .vac-marker-draggable{
				position: absolute;
				width: 7px;
				margin-left: -3.5px;
				height: 30px;
				bottom: 6px;
				background: $blue;
				border-radius: 2px;
				cursor: pointer;
				transition: all .2s ease-in-out;
				&.hovering{
					opacity: 1 !important;
					background: $yellow;
					height: 35px;
					& > div{
						display:block;
						opacity: 1;
					}
					&.ranged-marker{
						box-shadow: 7px 0 0 0 $yellow inset;
						background-color: rgba($yellow, 0.65);
					}
				}

				&.active {
					background-color: $yellow;
					&.ranged-marker {
						box-shadow: 7px 0 0 0 $yellow inset;
						background-color: rgba($yellow, 0.65);
					}
				}

				&.ranged-marker{
					box-shadow: 7px 0 0 0 $blue inset;
					background-color: rgba($blue, 0.65);
				}

				&.vac-marker-draggable{
					box-shadow: 7px 0 0 0 $orange inset;
					background-color: rgba($orange, 0.65);
					cursor: ew-resize;
					min-width: 7px !important;
				}

				// Tooltip wrapper for marker
				& > div {
					width: 100%;
					position: relative;
					display:none;
					opacity: 0;
					transition: opacity .2s ease-in-out;
					span{ // Tooltip
						b{
							color: $yellow;
							display: inline-block;
							margin-right: 5px;
							font-weight: normal;
						}
						text-overflow: ellipsis;
						white-space: nowrap;
						border-bottom: 1px solid $yellow;
						display: block;
						position: absolute;
						max-width: 250px;
						bottom: -1px;
						line-height: 26px;
						height: 28px;
						overflow: hidden;
						padding: 0 5px;
						box-sizing: border-box;
						border-radius: 1px;
						background: rgba($black, .8);
						color: white;
						font-family: Arial;
						font-size: 12px;
						left:0px;
						&.right-side{
							left: auto;
							right: 0px;
						}
					}
				}
			}

			&.dim-all{
				.vac-marker{
					opacity: .4
				}
			}
		}
	}

	.vac-comments-container {
		position: absolute;
	    right: 0;
	    top: 0;
	    width: 40%;
		background-color: rgba($black, 0.30);
		overflow-x: hidden;
		overflow-y: auto;


		.comment {
			width: 90%;
			margin-left: 5%;
			margin-top: 15px;
			border-radius: 10px;

			.comment-header {
				width: 100%;
				height: 28px;
				padding: 2%;
				font-size: 1.4em;
				color: $white;
				background-color: gray;
				font-weight: bold;

				.author-name, .timestamp {
					display: inline-block;
					width: 45%;
				}

				.author-name {
					float: left;
					text-align: left;
				}

				.timestamp {
					float: right;
					text-align: right;
				}
			}

			.comment-body {
				width: 100%;
				padding: 4%;
				background-color: #fff;
				color: #000;
				font-size: 1.2em;
				text-align: left;
			}
		}

		.reply-btn {
			width: 90%;
			margin-left: 5%;
			height: 25px;
			padding-top: 3px;
			margin-top: 20px;
			color: #fff;
			font-size: 1.6em;
			background-color: $blue;
			border-radius: 2px;
			margin-bottom: 20px;
		}
	}

	.vac-comments-control-bar {
		height: 40px;
		width: 40%;
		background: $black;
		position: absolute;
		bottom: 42px;
		right: 0;
		padding: 14px;
		font-size: 1.2em;

		.timestamp, .control-buttons {
			display: inline-block;
			width: 45%;
		}

		.timestamp {
			float: left;
			text-align: left;
		}

		.control-buttons {
			float: right;
			text-align: right;

			a {
				cursor: pointer;
			}
		}
	}
}
