---
---

@import 'jekyll-theme-cayman';

.page-header {
	padding: 2rem 6rem;
	background-image: linear-gradient(120deg, #00A6C2, #ee9828);
}

@for $index from 1 through 6 {
	.main-content {
		h#{$index}{
    		color: #ee9828;
  		}
	}
}

a {
	cursor: pointer;
}

.main-content {
	clear: both;
}

.the_video-dimensions {
	width: 100% !important;
}

.video-container, .console-container {
	margin-top: 20px;
	width: 100%;
}

.console-container {
	position: relative;

	.clear-console-btn {
		position: absolute;
		right: 10px;
		top: 10px;
		background-color: rgb(228, 228, 228);
		padding: 5px 8px;
		color: white;
		border-radius: 5%;
		cursor: pointer;
		opacity: 0.7;
		display: none;
		box-shadow: rgba(0, 0, 0, 0.45) 1px 1px 2px;
		transition: all 0.2s ease-in-out;

		&:hover {
			opacity: 1;
			// outline: 1px solid gray;
		}
	}

	&:hover .clear-console-btn {
		display: block;
	}

	.console {
		background-color: #f9f9f9;
		border: 2px solid #b3b3b3;
		height: 150px;
		width: 100%;
		padding: 10px 10px 5px 0;
		white-space: nowrap;
    	overflow: auto;

		p {
			margin: 0;
		    font-size: 0.7em;
		    margin-left: 10px;
		}
	}
}

.video-js .vjs-remaining-time {
    display: none;
}
